@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-background-light-primary: #faf7f0;
    --color-background-light-secondary: #e6e3d8;
    --color-background-dark-primary: #101010;
    --color-background-dark-secondary: #252525;
    --color-text-light-primary: #fafafa;
    --color-text-light-secondary: #b0b0b0;
    --color-text-dark-primary: #191919;
    --color-text-dark-secondary: #505050;
    --color-border-light: #dcd9ce;
    --color-border-dark: #3a3a3a;
    --spacing-mobile-x: 1rem;
    --spacing-mobile-header-footer-x: 1.5rem;
    --spacing-desktop-small-x: 3rem;
    --spacing-desktop-large-x: 8rem;
}