@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant hover (&:hover);

@theme {
    --color-background-light-primary: #faf7f0;
    --color-background-light-secondary: #e5e4d8;
    --color-background-dark-primary: #101010;
    --color-background-dark-secondary: #252525;
    --color-text-light-primary: #e8e8e8;
    --color-text-light-secondary: #b0b0b0;
    --color-text-home-dark-primary: #086940;
    --color-text-home-dark-secondary: #567065;
    --color-text-dark-primary: #191919;
    --color-text-dark-secondary: #404040;
    --color-border-light: #d2c8bf;
    --color-border-dark: #3a3a3a;
    --spacing-mobile-x: 1rem;
    --spacing-mobile-header-footer-x: 1.5rem;
    --spacing-desktop-s-x: 3rem;
    --spacing-desktop-l-x: 8rem;
    --spacing-desktop-xl-x: 14rem;
    --spacing-page-mobile-y: 3rem;
    --spacing-page-desktop-y: 8rem;
    --font-montserrat: var(--font-montserrat);
    --font-space-grotesk: var(--font-space-grotesk);
    --font-unbounded: var(--font-unbounded);
    --color-dark-gradient-lavender: #885ffa;
    --color-dark-gradient-magenta: #e736ff;
    --color-dark-gradient-cyan: #1ff4ff;
    --color-light-gradient-green: #5ac248;
    --color-light-gradient-yellow: #d4c311;
    --color-light-gradient-orange: #e67b1e;

    --static-gradient-stops-dark:
        var(--color-dark-gradient-magenta) 0%,
        var(--color-dark-gradient-lavender) 25%,
        var(--color-dark-gradient-cyan) 110%;
    --static-gradient-stops-light:
        var(--color-light-gradient-green) 0%,
        var(--color-light-gradient-yellow) 50%,
        var(--color-light-gradient-orange) 105%;
    --spin-gradient-stops-dark:
        var(--color-dark-gradient-lavender), var(--color-dark-gradient-magenta),
        var(--color-dark-gradient-lavender), var(--color-dark-gradient-cyan),
        var(--color-dark-gradient-lavender);
    --spin-gradient-stops-light:
        var(--color-light-gradient-yellow), var(--color-light-gradient-green),
        var(--color-light-gradient-yellow), var(--color-light-gradient-orange),
        var(--color-light-gradient-yellow);
}

@property --spin-gradient-angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 90deg;
}

@theme inline {
    --animate-first: moveVertical 30s ease infinite;
    --animate-second: moveInCircle 20s reverse infinite;
    --animate-third: moveInCircle 40s linear infinite;
    --animate-fourth: moveHorizontal 40s ease infinite;
    --animate-fifth: moveInCircle 20s ease infinite;
    --animate-gradientShift: gradientShift 8s ease-in-out infinite alternate;
    --animate-spin-gradient: spinMovingGradient 5s linear infinite;
    --animate-spin-gradient-hover:
        spinMovingGradient 5s linear infinite,
        pulsateMovingGradient 0.85s ease-in-out infinite;

    @keyframes moveHorizontal {
        0% {
            transform: translateX(-50%) translateY(-10%);
        }
        50% {
            transform: translateX(50%) translateY(10%);
        }
        100% {
            transform: translateX(-50%) translateY(-10%);
        }
    }

    @keyframes moveInCircle {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(180deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes moveVertical {
        0% {
            transform: translateY(-50%);
        }
        50% {
            transform: translateY(50%);
        }
        100% {
            transform: translateY(-50%);
        }
    }

    @keyframes gradientShift {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    @keyframes spinMovingGradient {
        0% {
            --spin-gradient-angle: 0deg;
        }
        100% {
            --spin-gradient-angle: 360deg;
        }
    }

    @keyframes pulsateMovingGradient {
        0%,
        100% {
            opacity: 0.5;
            filter: blur(12px);
        }
        5% {
            opacity: 0.9;
            filter: blur(15px);
        }
    }
}
